<section class="oe_container oe_dark lead" style="padding-top:50px;">
    <!--				main heading /title-->
    <h3>
        <font>
            <p class="text-primary text-center" style="color:#004460;"><b>Import Survey Question Answer</b>
        </font>
    </h3>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

                <!--												first block main heading-->
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 20px;">
                        <b> Virzoteck Software and Solutions(virzoteck@gmail.com)</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <!--									first block sub heading 1-->
                    <div class="alert alert-info"
                         style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
                        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
                        <b style="color:white;"> Features </b>
                    </div>
                    <!--						first block sub contain 2-->
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-hand-o-right text-primary"></i>Imprort survey,question,answer by excelsheet in odoo with less efforts and minimal data entry</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <!--<h3  class="text-primary text-center"  style="color:#004460;"><b>Auto User Assignment in task to different Stage</b></h3>-->
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <!--<h3 class="text-primary text-center"  style="color:#004460;"><b>Configure Default users for each task stage from project form</b></h3>-->
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
      <div class="oe_row oe_spaced">
        <!--<h3 class="text-primary text-center"  style="color:#004460;"><b>Configure Default users for each task stage from project form</b></h3>-->
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3.png">
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <!--<h3 class="text-primary text-center"  style="color:#004460;"><b>Configure Default users for each task stage from project form</b></h3>-->
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
        <div class="oe_row oe_spaced">
        <!--<h3 class="text-primary text-center"  style="color:#004460;"><b>Configure Default users for each task stage from project form</b></h3>-->
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="5.png">
        </div>
    </div>


</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3  class="text-primary text-center"  style="color:#004460;">Have questions or need additional functionality?</h3>
        <h3  class="text-primary text-center"  style="color:#004460;">Contact via email:</h3>
        <h3  class="text-primary text-center"  style="color:#004460;">virzoteck@gmail.com</h3>
    </div>
</section>

</section>
